<h1>All The Events </h1>

<h2>Upcoming Events </h2>
<ol>
  <% @events.future.each do |eve| %>
    <li>
      <h3>  <%= link_to eve.title, event_path(eve) %> </h3>
    </li>
<% end %>
</ol>


<h2>Past Events </h2>
<ol>
  <% @events.past.each do |eve| %>
    <li>
      <h3>  <%= link_to eve.title, event_path(eve) %> </h3>
    </li>
<% end %>
</ol>
