<h1>  <%= @event.title %> </h1>
<p><strong> description: </strong><%= @event.description %> </p>
<p><strong> location:</strong> <%= @event.event_location %> </p>
<p><strong> date and time: </strong><%= @event.event_date %> </p>